body {
	background-color: #383c4a;
	color: #5294e2;
}


.time {
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 60;
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading{
    margin: 10px 0 15px 0px;
    font-family: 'Inconsolata', monospace;
    font-size: 20;
}


.box {
	background-color: #404552;
	border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.box .link{
    margin-bottom: 10px;
}

.box a{
    color: #7c818c;
}

.box a:hover {
    color: white;
    text-decoration: none;
}


.container form {
	background-color: #404552;
	border-radius: 5px;
}

.container form .search-field, .container form .search-submit {
	background: none;
	outline: none;
	border: none;
	line-height: 40px;
	position: relative;
}

.container form .search-field {
	width: 89%;
	padding-left: 15px;
	color: white;
	font-size: 30px;
}

.container form .search-submit {
	width: 10%;
}

.container form .search-submit:hover {
	cursor: pointer;
}
